<div id="page-container">
	<h1><%= date %></h1>
	<h2><%= page %></h2>
	<hr>
	<div id="dummy-links">
		<strong>Internal dummy links: </strong>
		<a class="button" href="/">Root</a>
		<a class="button" href="/1/">1</a>
		<a class="button" href="/2/">2</a>
		<a class="button" href="/3/">3</a>
		<a class="button" href="/4/">4</a>
		<a class="button" href="/5/">5</a>
		<a class="button" href="/6/">6</a>
		<a class="button" href="/7/">7</a>
		<a class="button" href="/8/">8</a>
	</div>
	<hr>
	<h3>What does node-express-boilerplate do?</h3>
	<p>
		<a href="https://github.com/mape/node-express-boilerplate">node-express-boilerplate</a> is a collection of neat things that makes prototyping the frontend fast and streamlined. No more tab+refreshing to see css, javascript eller markup.
	</p>
	<ul>
		<li>Auto updates the CSS <strong>without pageload</strong> when CSS files change.</li>
		<li>Auto refreshes the page when markup or javascript files change.</li>
		<li>Auto matches urls to templates without server changes. Visiting /file-name/ tries to serve file-name.ejs and has fallback to index.ejs.</li>
		<li>Use the <strong>Sync button</strong> to redirect all browsers to the current page. This is handy when you want to test the design on multiple browsers and don't want to navigate to the page with each browser.</li>
		<li>The <strong>Validate button</strong> shows the current validation status of the current page. If it is green the page validates, if it is red it shows how many errors there are and if you click it you get a list of what errors are present and where they are.</li>
	</ul>
</div>