<div title="test" id="page-container">
	<h1><%= date %></h1>
	<h2><%= page %></h2>
	<hr>
	<div id="dummy-links">
		<strong>Internal dummy links: </strong>
		<a class="button" href="/">Root</a>
		<a class="button" href="/1/">1</a>
		<a class="button" href="/2/">2</a>
		<a class="button" href="/3/">3</a>
		<a class="button" href="/4/">4</a>
		<a class="button" href="/5/">5</a>
		<a class="button" href="/6/">6</a>
		<a class="button" href="/7/">7</a>
		<a class="button" href="/8/">8</a>
	</div>
	<hr>
	<h3>What does node-dummy do?</h3>
	<p>
		<a href="http://github.com/mape">node-dummy</a> is a collection of neat things that makes prototyping dummy frontend fast and streamlined. No more tab+refreshing to see css changes or when altering markup.
	</p>
	<ul>
		<li>Auto reload the CSS without pageload when CSS files change.</li>
		<li>Auto reload the page when markup or javascript files change.</li>
		<li>Use the <strong>Sync button</strong> to redirect all browsers to the current page. This is handy when you want to test the design on multiple browsers and don't want to navigate to the page with each browser.</li>
		<li>Use the <strong>Validate button</strong> to make sure the markup is valid.</li>
	</ul>
</div>
