
<!DOCTYPE html> 
<html> 
<head> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<link rel="stylesheet" href="/static/css/1286786505000/style.css" type="text/css"> 
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
	<title>node-express-boilerplate</title> 
</head> 
<body class="nojs"> 
	<div title="test" id="page-container"> 
		<h1><a href="/test/">Wed Oct 13 2010 12:42:40 GMT+0200 (CEST)</a></h1> 
		<hr style="display: block;margin: 10px 0 5px"> 
		<strong>Links that autochange: </strong> 
		-
		<a href="/">/</a> 
		-
		<a href="/1/">1</a> 
		-
		<a href="/2/">2</a> 
		-
		<a href="/3/">3</a> 
		-
		<a href="/4/">4</a> 
	</div> 
	<script src="/static/js/1286966542000/client.js" type="text/javascript"></script> 
</body> 
</html>