<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/static/css/<%= cacheTimestamps.css %>/style.css" type="text/css">
	<title>Startup</title>
</head>
<body class="nojs">
	<div title="test" id="page-container">
		<%- body %>
	</div>
	<script src="/static/js/<%= cacheTimestamps.js %>/client.js" type="text/javascript"></script>
</body>
</html> 