html {
	gradient: #222_#000;
	height: 100%;
}
body {
	color: #000;
	margin: 0;
	font: 12px 'helvetica neue', helvetica, arial, sans-serif;
	text-rendering: optimizeLegibility;
}
img {
	-ms-interpolation-mode:bicubic;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
strong {
	font-weight: bold;
}
#connected {
	position: absolute;
	top: 35px;
	left: 20px;
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50px;
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 23px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
#connected.on {
	background: green;
}
#connected .overlay {
	border-radius: 50px;
	gradient: rgba(255,255,255,0.4)_rgba(255,255,255,0.1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,0.6) inset;
}
#bubble {
	position: absolute;
	top: 20px;
	left: 155px;
	max-height: 100%;
	overflow: hidden;
	padding: 0 0 0 65px;
}
#bubble ul {
	height: 2000px;
}
#bubble li {
	position:relative;
	padding:15px;
	margin:1em 0 3em 100px;
	color:#000;
	gradient: #fff_#ddd;
	border-radius:10px;
	border-radius:10px;
	margin-left:40px;
	font-size: 16px;
	min-height: 20px;
	opacity: 0;
	-vendor-transition: opacity 4s linear;
}
#bubble .avatar {
	position: absolute;
	right: 100%;
	top: 10px;
	margin-right: 45px;
}
#bubble .service {
	position: absolute;
	right: 100%;
	top: -0px;
	margin-right: 80px;
	background: #fff;
	border-radius: 20px;
	padding: 2px;
	box-shadow: 0 0 5px #000;
}
#bubble li:first-child {
	opacity: 1;
}
#bubble li:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50px;
	border-width: 20px 0 0 20px;
	border-style: solid;
	border-color: #075698 transparent;
	display: block;
	width: 0;
	top:16px; 
	left:-40px;
	bottom:auto;
	border-width:15px 40px 0 0;
	border-color:transparent #eee;
}

.logins {
	position: fixed;
	top: 35px;
	right: 60px;
	gradient: #2b2b2b_#010101;
	border-radius: 5px;
	border: 1px solid #000;
	padding: 5px 5px;
	margin: 0 0 5px;
}
.logins li {
	padding: 4px 10px;
	border-bottom: 1px solid #eee;
}
.logins li:last-child {
	border-bottom: 0;
}
.logins img {
	margin: 0 7px 0 0;
	position: relative;
	top: 3px;
	width: 16px;
	height: 16px;
}
.logins a {
	color: #000;
}
.logins .padding
{
	border-radius: 3px;
	border: 1px solid #fff;
	font-size: 13px;
	background: #fff;
}
