body
{
	margin-right: 40px;
}
#frontend-development
{
	position: fixed;
	top: -2px;
	right: 0;
	width: 24px;
	bottom: -2px;
	background: #222;
	-vendor-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.5) inset, 1px 1px 0px #666 inset;
	font-family: arial;
	padding: 10px 8px;
}
#frontend-development .refresh
{
	color: #fff;
	gradient: #292929_#111;
	border: 1px solid #222;
	-vendor-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.5) inset, 1px 1px 0px #666 inset;
	-vendor-border-radius: 5px;
	font-size: 11px;
	width: 24px;
	height: 24px;
	display: block;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
}