#frontend-development {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 20px;
	font-family: arial;
	padding: 5px 5px 0 4px;
	border: 1px rgba(255,255,255,0.3) solid;
	gradient: rgba(255,255,255,0.5)_rgba(255,255,255,0.3);
	-vendor-box-shadow: 0px 0px 15px rgba(0,0,0,0.7), 0px 0px 10px rgba(0,0,0,0.2) inset;
	-vendor-border-radius: 0 0 0 5px;;
}
#frontend-development > div {
	color: #fff;
	gradient: #292929_#111;;
	-vendor-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
	border: 1px solid rgba(0,0,0,0.3);
	-vendor-border-radius:5px;
	-vendor-text-shadow:1px 1px 1px rgba(0,0,0,0.4);
	font-size: 11px;
	width: 20px;
	height: 20px;
	display: block;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	margin: 0 0 5px;
	position: relative;
}
#frontend-development > div:active {
	top: 1px;
	left: 1px;
}
#frontend-development > div.ok {
	color: #fff;
	gradient: #46c93c_#3cae33;;
}
#frontend-development > div.bad {
	color: #fff;
	gradient: #910306_#7b0306;;
}
#frontend-development .loading {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}
#frontend-development-validation-errors {
	font-family: arial;
	position: fixed;
	top: -2px;
	bottom: -2px;
	overflow: auto;
	right: 40px;
	background: #222;
	-vendor-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.5) inset, 1px 1px 0px #666 inset;;
	color: #fff;
	padding: 12px 10px;
	font-size: 12px;
}
#frontend-development-validation-errors li {
	list-style: none;
}
#frontend-development-validation-errors ul {
	padding: 10px 15px 5px;
}
#frontend-development-validation-errors .err_type {
	background: rgba(0,0,0,0.4);
	display: block;
	padding: 5px 10px;
	-vendor-border-radius: 5px;
}
#frontend-development-validation-errors a {
	text-decoration: underline;
}
#frontend-development-validation-errors li p:first-child {
	padding: 5px 5px;
	display: block;
	color: #f8ff8c;
	margin: 5px 0 0;
	white-space: normal;
	-vendor-border-radius: 5px;
	background: rgba(0,0,0,0.4);
}
#frontend-development-validation-errors li p:first-child a {
	color: #f8ff8c;
}
#frontend-development-validation-errors .location {
	padding: 10px;
	color: #fff;
	-vendor-border-radius: 5px;
}
#frontend-development-validation-errors .extract code {
	font-weight: bold;
	padding: 5px 10px;
	background: rgba(0,0,0,0.1);
	color: #666;
	line-height: 1.9;
	-vendor-border-radius: 5px;
}
#frontend-development-validation-errors .extract b {
	color: #fff !important;
}
.validation-errors {
	position: absolute;
	top: 50%;
	right: 100%;
	line-height: 1;
	color: #fff;
	gradient: #ab0307_#c40206;;
	border: 1px solid #7e0003;
	-vendor-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.5) inset, 1px 1px 0px #666 inset;
	-vendor-border-radius: 5px;
	font-size: 10px;
	font-weight: bold;
	width: 17px;
	height: 17px;
	display: block;
	line-height: 17px;
	text-align: center;
	cursor: pointer;
	margin: -9px -4px 0 0;
}
#dummy-overlay-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom:-2000px;
	background-repeat: no-repeat;
	overflow: hidden;
	display: none;
	border-right: 1px solid rgba(0,0,0,0.3);
	-vendor-box-shadow: -1px 0 0 rgba(255,255,255,0.5) inset;
	background: rgba(255,255,255,0.2);
}
#dummy-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom:0;
	background-repeat: no-repeat;
	opacity: 0.9;
}
#dummy-overlay.center {
	background-position: top center;
}
